body {
    margin: 0;
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    background: #2a3047;
    overflow: hidden;
}

h1 {
    color: white;
    font-size: 40px;

}


.apply-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    text-align: center;

}


.main-content {
    display: flex;
    text-align: center;
    margin: 250px;
    float: right;
}

.input-block {
    margin-bottom: 20px;
    position: relative;
}

.input-block label {
    font-size: 25px;
    color: #788a8a;
}

.input-block input {
    width: 400px;
    margin-top: 10px;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #3b4465;
    background: #eef9fe;
    border: 1px solid #cddbef;
    border-radius: 10px;
    outline: none;
    display: block;

}


.role-block {
    margin-bottom: 20px;
    position: relative;
    display: block;


}

.role-block label {
    font-size: 25px;
    color: #788a8a;
}

.role-block input {
    width: 400px;
    margin-top: 10px;
    display: block;

    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #3b4465;
    background: #eef9fe;
    border: 1px solid #cddbef;
    border-radius: 10px;
    outline: none;

}

.level-block {
    margin-bottom: 20px;
    position: relative;
    display: block;


}

.level-block label {
    font-size: 25px;
    color: #788a8a;
    display: block;


}

.level-block input {
    width: 400px;
    margin-top: 10px;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #3b4465;
    background: #eef9fe;
    border: 1px solid #cddbef;
    border-radius: 10px;
    outline: none;
    display: none;
}




button {
    background: #151927;
    color: white;
    padding: 10px;
    width: 250px;
    margin-top: 10px;
    border: 2px solid #525d83;
    cursor: pointer;
    border-radius: 20px;
}



/* Progress bar styles */
.progress-container {
    width: 80%;
    height: 8px;
    background-color: #e0e0e0;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progress-indicator {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #005e03, #03a50b);
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
}

.progress-step {
    position: absolute;
    top: -5px;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #095c0b;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease-in-out;
}

/* Section and icon styles */
.fade-element {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: relative;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Icon styles */
.icon {
    position: absolute;
    top: 0;
    left: 900px;
    font-size: 60px;
    color: #e0e0e0;
    float: right;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.icon.show {
    opacity: 0.1;
    transform: translateY(0);
}